body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

header {
    position: relative;
    text-align: center;
    color: white;
    background-color: #15518b;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    color: white;
    font-weight: bold;
}

.left-image,
.right-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-height: 70%;
}

.left-image {
    left: 0;
}

.right-image {
    right: 0;
}

nav {
    margin-top: 50px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: lightgray;
    color: #555;
    font-size: 12px;
    padding: 10px;    
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav a.nowpage {
    color: white;
}

/* HOMEPAGE */
.introduction-section {
    background-color: #3498db;
    padding: 40px;
    border-radius: 20px;
    overflow: hidden;
    max-width: 1200px;
    height: 399px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.introduction-container {
    display: flex;
    align-items: center;
}

.introduction-text {
    flex-grow: 1;
}

.introduction-text h2 {
    font-size: 2em;
    color: #fff;
    position: relative;
    max-width: 80%;
    word-wrap: break-word;
    margin-top: 5%;
    margin-left: 0.1%;
}

.introduction-text p {
    font-size: 1.2em;
    color: #fff;
    position: relative;
    max-width: 50%;
    word-wrap: break-word;
    margin-top: 3%;
    margin-left: 5%;
}

.introduction-image {
    max-width: 200px;
    position: relative;
    margin-top: 0.05%;
    margin-left: 0.1%
}

.introductionP2-image {
    margin-right: 20px !important;
    width: 85% !important;
    height: 100% !important;
    position: absolute;
    transform: scale(0.52);
    transform-origin: top right;
    top: 440px;
}

/* HOMEPAGE */

/* BusinessIntroduction */

.business-section {
    background-color: #3498db;
    padding: 40px;
    border-radius: 20px;
    overflow: hidden;
    max-width: 1200px;
    height: 275px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

.BU-text1 {
    flex-grow: 1;
}

.BU-text1 h2 {
    font-size: 2em;
    color: #fff;
    position: relative;
    max-width: 80%;
    word-wrap: break-word;
    margin-top: 2%;
    margin-left: 10%;
}

.BU-text1 p {
    font-size: 1.2em;
    color: #fff;
    position: relative;
    max-width: 50%;
    word-wrap: break-word;
    margin-top: 2%;
    margin-left: 10%;
}

.BU-image1 {
    margin-right: 20px !important;
    width: 62% !important;
    height: 100% !important;
    position: absolute;
    transform: scale(0.35);
    transform-origin: top right;
    top: 360px;
}

.BU-text2 {
    flex-grow: 1;
}

.BU-text2 h2 {
    font-size: 2em;
    color: #fff;
    position: relative;
    max-width: 80%;
    word-wrap: break-word;
    margin-top: 2%;
    margin-left: 10%;
}

.BU-text2 p {
    font-size: 1.2em;
    color: #fff;
    position: relative;
    max-width: 50%;
    word-wrap: break-word;
    margin-top: 2%;
    margin-left: 10%;
}

.BU-image2 {
    margin-right: 20px !important;
    width: 85% !important;
    height: 100% !important;
    position: absolute;
    transform: scale(0.52);
    transform-origin: top right;
    top: 750px;
}

.BU-text3 {
    flex-grow: 1;
}

.BU-text3 h2 {
    font-size: 2em;
    color: #fff;
    position: relative;
    max-width: 80%;
    word-wrap: break-word;
    margin-top: 2%;
    margin-left: 10%;
}

.BU-text3 p {
    font-size: 1.2em;
    color: #fff;
    position: relative;
    max-width: 50%;
    word-wrap: break-word;
    margin-top: 2%;
    margin-left: 10%;
}

.BU-image3 {
    margin-right: 20px !important;
    width: 70% !important;
    height: 100% !important;
    position: absolute;
    transform: scale(0.4);
    transform-origin: top right;
    top: 1110px;
}


/* BusinessIntroduction */

/* ABOUT */
.ABOUT-section {
    background-color: #3498db;
    padding: 40px;
    border-radius: 20px;
    overflow: hidden;
    max-width: 1200px;
    height: 399px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ABOUT-container {
    display: flex;
    align-items: center;
}

.ABOUT-text {
    flex-grow: 1;
}

.ABOUT-text h2 {
    font-size: 2em;
    color: #fff;
    position: relative;
    max-width: 80%;
    word-wrap: break-word;
    margin-top: 2%;
    margin-left: 10%;
}

.ABOUT-text p {
    font-size: 1.2em;
    color: #fff;
    position: relative;
    max-width: 50%;
    word-wrap: break-word;
    margin-top: 2%;
    margin-left: 10%;
}

.ABOUTP2-image {
    margin-right: 20px !important;
    width: 130% !important;
    height: 100% !important;
    position: absolute;
    transform: scale(0.7);
    transform-origin: top right;
    top: 400px;
}
/* ABOUT */
